<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<h3>BUDDY, wrong place</h3>
<p>What have you been typing, you're in 404 now</p>

<p>EJS STYLE!!</p>

<%- include('./partials/footer.ejs') %>