<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="create-blog content">
    <form>
        <label for="title">Le Title:</label>
        <input type="text" id="title" required>
        <label for="snippet">Da Snippy:</label>
        <input type="text" id="snippet" required>
        <label for="body">Write down your junk:</label>
        <textarea id="body" required></textarea>
        <button>SUBMIT billy zane style</button>
    </form>
</div>

<%- include('./partials/footer.ejs') %>